<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Strongest Champions</title>
</head>
<body>
  <header>
    <nav>
      <ul class="container">
          </li>
          <li><a href="/heroes">See Champions</a></li>
          <li><a href="/heroes/new">Add Champions</a></li>
          <% if (user) { %>
          <li class="logout"><a href="/logout"></i>Log Out</a></li>
          <% } else { %>
          <li class="logout"><a href="/auth/google">Login with Google</a></li>
          <% } %>
      </ul>
    </nav>
  </header>
<main>