* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgb(130, 130, 130); */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
  background: url(https://cdn.shopify.com/s/files/1/0152/6487/4560/products/avengers_700_ar0162_c3a5f186-0011-4271-9514-4d55d9ca8592.png?v=1578760391);
  background-size: contain;
  background-attachment: fixed;
}

main {
  padding: 25px;
  color: black;
}

.container {
  display: inline-block;
  padding: 25px;
  background: url(https://cdn.shopify.com/s/files/1/0152/6487/4560/products/avengers_700_ar0162_c3a5f186-0011-4271-9514-4d55d9ca8592.png?v=1578760391);
  background-size: contain;
}

.logout {
  margin-left: auto;
}

li {
  font-size: 30px;
  list-style: inside;
  padding: 8px;
}

a {
  color: blue;
  background-color: white;
  text-decoration: none;
}

.details {
  background-color: rgba(73, 92, 39, 0);
  color: rgb(6, 172, 243);
  font-size: 18px;
}

a:hover {
  color: lightskyblue;
}

h1 {
  text-align: left;
  color: lightblue;
}

h3 {
  text-align: left;
  color: lightblue;
}

#bios-list-header {
  font-size: 25px;
}

textarea {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

button {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 5px 10px;
}

button:hover {
  font-size: 110%;
  background-color: lightskyblue;
}

.delete-btn:hover {
  font-size: 110%;
  background-color: darkblue;
}

p {
  color: white;
}

.hero-form {
  width: 30%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

#hero-edit-link {
  float: right;
}

#landing-body {
  background: url(https://cdn.shopify.com/s/files/1/0152/6487/4560/products/avengers_700_ar0162_c3a5f186-0011-4271-9514-4d55d9ca8592.png?v=1578760391);
  background-size: contain;
  background-attachment: fixed;
}

#landing-title {
  color: blue;
  font-size: 50px;
}

#landing-subtitle {
  color: lightblue;
}


